<%= render "header" %>

<div class="container-fluid">
   
</div>

<style>
.nav-item .evaluation{
    color: #06734a;
}
.nav-item .active-evaluation {
  background-color: #06734a;
  width: 40%;
  height: 7%;
  position: absolute;
  bottom: 10%;
  border-radius: 100px;
}
.home-nav{
  background-color: #DFE6EA;
}

</style>