/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
 }

 body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
 }

 header{
   position: sticky;
   top: 0;
   width: 100%;
   height: 8vh;
   background-color: #DFE6EA;
}

.logo_div{
   position: absolute;
   left: 0;
   top: 0;
   width: 15%;
   height: 8vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo_div img{
   width: 60%;
   cursor: pointer;
}

.menu_div{
   position: absolute;
   right: 0;
   top: 0;
   width: 40%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.menu_div ul{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu_div ul li{
   display: inline;
   font-family: 'Poppins', sans-serif;
   margin: 0% 3%;
   padding: 1% 3%;
   cursor: pointer;
}

.menu_div ul li:nth-child(4){
   background-color: #06734A;
   border-radius: 5px;
   color: #fff;
}

.menu_div ul li:hover{
   color: #06734A;
}

.menu_div ul li:nth-child(4):hover{
   color: #fff;
}
 
.menu_div ul li:nth-child(4) a{
   color: #fff;
   text-decoration: none;
}


.menu_div ul li:nth-child(4) a:hover{
   background-color: transparent;
}

.LogoDiv img{
   width: 55%;
}

.row {
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
}

.container {
   width: 100%;
}

.container .col-md {
   margin: 1.5%;
   height: 20vh;
   border-radius: 10px;
   cursor: pointer;
   transition: all 0.5s;
}

.container .col-md:hover {
   box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
   transition: all 0.5s;
}

.LogoDiv {
   margin: auto;
   width: 40%;
   height: 15vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.html {
   background-image: linear-gradient(to right, #fd7e14, #ff9742);
}

.css {
   background-image: linear-gradient(to right, #0d6efd, #61a0ff);
}

.javascript {
   background-image: linear-gradient(to right, #ffc107, #fbd666);
}

.boostrap {
   background-image: linear-gradient(to right, #6610f2, #a36aff);
}

.java {
   background-image: linear-gradient(to right, #60a0ff, #a6c9ff);
}

.mysql {
   background-image: linear-gradient(to right, #0dcaf0, #8fd7e5);
}

.ror {
   background-image: linear-gradient(to right, #cd1c2d, #cd3242);
}

.text-center{
   color: #fff;
}