/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  margin: 0;
  padding: 0;
 }

.main-row {
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   --bs-gutter-x: 1.5rem;
   --bs-gutter-y: 0;
   display: flex;
   flex-wrap: wrap;
}

.main-container {
   width: 100%;
}

.main-container .main-col-md {
   padding: 0.9%;
   height: 20vh;
   border-radius: 10px;
   cursor: pointer;
   transition: all 0.5s;
}

.main-col-md a{
  text-decoration: none;
}

.LogoDiv img{
  width: 25%;
}

.LogoDiv {
   margin: auto;
   width: 100%;
   height: 100%;
   border-radius: 10px;
}

.LogoDiv div:nth-child(1){
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoDiv div:nth-child(2){
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.html {
   background-image: linear-gradient(to right, #fd7e14, #ff9742);
}

.css {
   background-image: linear-gradient(to right, #0d6efd, #61a0ff);
}

.javascript {
   background-image: linear-gradient(to right, #ffc107, #fbd666);
}

.boostrap {
   background-image: linear-gradient(to right, #6610f2, #a36aff);
}

.java {
   background-image: linear-gradient(to right, #60a0ff, #a6c9ff);
}

.mysql {
   background-image: linear-gradient(to right, #0dcaf0, #8fd7e5);
}

.ror {
   background-image: linear-gradient(to right, #cd1c2d, #cd3242);
}

.c {
  background-image: linear-gradient(to right, #601ccd, #8a32cd);
}

.python{
  background-image: linear-gradient(to right, #1c7acd, #3292cd);
}


.text-center{
   color: #fff;
   font-family: 'Poppins';
   font-size: 1.2vw;
}

@media only screen and (max-width: 768px) {
  .text-center{
    color: #fff;
    font-family: 'Poppins';
    font-size: 4vw;
 }

 .main-container .main-col-md {
  padding: 0.9%;
  height: 20vh;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
}

.navbar{
  background-color: #DFE6EA;
}

.header-dropdown{
  width: 15%;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  height: 5vh;
}

.header-profile{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 0.85vw;
  color: #07080D;
}

.profile-pic{
  position: absolute;  
  left: 0;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  border-radius: 5px 0px 0px 5px;
}

.profile-name{
  margin-left: 25%;
 width: 75%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .header-dropdown{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
  }

  .profile-pic{
    position: absolute;  
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
  }

  .header-profile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 5vw;
    color: #07080D;
  }

  .profile-name{
    margin-left: 20%;
   width: 80%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
  }
}

.logo_img{
  width: 10%;
  height: 4vh;
  /* background-color: #06734a; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_img img{
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .logo_img{
    width: 10%;
    height: 4vh;
    /* background-color: #06734a; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo_img img {
    width: 10%;
  }
}

.header-ul li {
  position: relative;
  margin: 0% 2%;
  display: flex;
  justify-content: center;
}

.header-ul .line {
  background-color: #06734a;
  width: 0%;
  height: 7%;
  position: absolute;
  bottom: 10%;
  border-radius: 100px;
  transition: all 0.5s;
}

.header-ul li a {
  color: #07080d;
  font-family: "Poppins", sans-serif;
}

.header-ul .login {
  background-color: #06734a;
  border-radius: 5px;
}

.header-ul .nav-item:hover .line {
  width: 40%;
  transition: all 0.5s;
}

.header-ul .login {
  color: #fff;
}

.header-ul .login:hover {
  color: #fff;
}

.header-ul li a:hover {
  color: #06734a;
}

.login{
  background-color: #06734a;
  border-radius: 5px;
}